input[type=text]{
    padding: .4em;
    margin: .2em;
}

label{
    width: 50%;
    display: inline-block;
    text-align: right;
}

h1, #validation-summary > p, input[type=checkbox], input[type=button]{
    margin-left: 50%;
}

input[type=checkbox]{
    margin-left: 1%;
}

#form-box{
    border: 1000px, solid, black;
    float: center;
    width: 40;
}